.gal-img {
    background-color: rgb(159, 1, 199) ;
}

.cta:hover {
    box-shadow: 0px 0px 9px black;
}

.cont-avatar {
    width: 100%;
    height: 100%;
    max-width: 150px;
    max-height: 100px;
}

/* Color para about us */
.color-sp{
    color: #F62A00;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
}
.color-sp2{
    color: #00293C;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
}
.color-bd{
    border-color: #9057D8;
    /* border-width: 0.08rem; */
}

.body-c{
    background-color: #F1F3CE;
}

.navar-c{
    background-color: #1E656D;
}
/* ----- */


/*****************************************MEDIAS QUERYS************************************/


/*Reorganizar elementos en el header cuando se navega en un dispositivo medio o largo*/

@media (min-width: 768px),
(max-width:992) {
    #logo {
        order: 1;
    }
    #menu {
        order: 2;
    }
    #login {
        order: 3
    }
}